@import url(../../colors/color-@.less);



.button-full {
  box-sizing: border-box;
  transition: all 0.5s;


  &.green {
    border: solid var(--teal) 1px;
    height: 34px;
    padding: 0 10px;
    font-size: 18px;

    &:hover {
      border-color: @alarm-soft;
      background-color: rgba(@red-hover, 0.5);
    }

    &.selected {
      border-color: rgba(@alarm, 0.7);
      background-color: rgba(@alarm-soft, 0.5);
    }
  }

  &.greendark {
    border: solid var(--teal) 1px;
    color: @white;
    background-color: rgba(var(--teal-dark-r), var(--teal-dark-g), var(--teal-dark-b), 0.5);
    cursor: pointer;
    height: 34px;
    font-size: 18px;
    padding: 0 10px;

    &:hover {
      border-color: @alarm-soft;
      background-color: rgba(@red-hover, 0.5);
    }
  }



}
