@import url(../../colors/color-@.less);



.button-border {
  box-sizing: border-box;
  transition: all 0.5s;
  height: 34px;
  padding: 0 10px;
  font-size: 18px;
  border: 1px solid transparent;

  &.blue {
    border: 1px solid @blue;
    color: @blue;
    background-color: transparent;

  }

  &.full {
    background-color: #07a990;

    &:hover {
      border: 1px solid #f46855;
      background-color: #c2534480;
    }
  }


  &.green,
  &.green-dark {
    border: solid #07a990 1px;
    color: white;


    &:hover {
      border-color: #f46855;
      background-color: #c2534480;
    }

    &.selected {

      border-color: #ef6f59b3;
      background-color: #f4685580;
    }
  }

  &.green-dark {

    text-shadow: none;
    border-radius: 3px;
    border-color: rgba(0, 103, 100, 0.7);
    background-color: rgba(0, 103, 100, 0.3);

    &:hover {

      border-color: rgba(244, 104, 85, 0.3);
      background-color: #c2534480;
    }

    &.selected {

      border-color: #ef6f59b3;
      background-color: #f4685580;
    }
  }

  &.greendark {
    border: solid #07a990 1px;
    color: #fff;
    background-color: #00676480;
    cursor: pointer;
    height: 34px;
    font-size: 18px;
    padding: 0 10px;

    &:hover {
      border-color: #f46855;
      background-color: #c2534480;
    }
  }



}
