@import url(../../colors/color-@.less);



.button-border {
  box-sizing: border-box;
  transition: all 0.5s;
  height: 34px;
  padding: 0 10px;
  font-size: 18px;
  border: 1px solid transparent;

  &.blue {
    border: 1px solid @blue;
    color: @blue;
    background-color: transparent;

  }

  &.full {
    background-color: var(--teal);

    &:hover {
      border: 1px solid @alarm-soft;
      background-color: rgba(@red-hover, 0.5);
    }
  }


  &.green,
  &.green-dark {
    border: solid var(--teal) 1px;
    color: white;


    &:hover {
      border-color: @alarm-soft;
      background-color: rgba(@red-hover, 0.5);
    }

    &.selected {

      border-color: rgba(@alarm, 0.7);
      background-color: rgba(@alarm-soft, 0.5);
    }
  }

  &.green-dark {

    text-shadow: none;
    border-radius: 3px;
    border-color: rgba(var(--teal-dark-r), var(--teal-dark-g), var(--teal-dark-b), 0.7);
    background-color: rgba(var(--teal-dark-r), var(--teal-dark-g), var(--teal-dark-b), 0.3);

    &:hover {

      border-color: rgba(@alarm-soft, 0.3);
      background-color: rgba(@red-hover, 0.5);
    }

    &.selected {

      border-color: rgba(@alarm, 0.7);
      background-color: rgba(@alarm-soft, 0.5);
    }
  }

  &.greendark {
    border: solid var(--teal) 1px;
    color: @white;
    background-color: rgba(var(--teal-dark-r), var(--teal-dark-g), var(--teal-dark-b), 0.5);
    cursor: pointer;
    height: 34px;
    font-size: 18px;
    padding: 0 10px;

    &:hover {
      border-color: @alarm-soft;
      background-color: rgba(@red-hover, 0.5);
    }
  }



}
