@import "../../colors/color-@.less";

.button-selection {
  border: 1px solid rgba(var(--normal-r), var(--normal-g), var(--normal-b), 0.5);
  color: var(--normal);
  cursor: pointer;
  transition: all 0.75s;
  padding: 3px 5px;
  border-radius: 3px;

  &.selected {
    background-color: rgba(var(--normal-r), var(--normal-g), var(--normal-b), 0.25);
  }

  &.green {
    color: @green;
    border: 1px solid rgba(@green, 0.5);

    &:hover {
      border-color: @green;
    }

    &.selected {
      background-color: rgba(@green, 0.25);
    }
  }

  &.red {
    color: @red;
    border: 1px solid rgba(@red, 0.5);

    &:hover {
      border-color: @red;
    }

    &.selected {
      background-color: rgba(@red, 0.25);
    }
  }

  &.orange {
    color: @orange;
    border: 1px solid rgba(@orange, 0.5);

    &:hover {
      border-color: @orange;
    }

    &.selected {
      background-color: rgba(@orange, 0.25);
    }
  }

  &.yellow {
    color: @yellow;
    border: 1px solid rgba(@yellow, 0.5);

    &:hover {
      border-color: @yellow;
    }

    &.selected {
      background-color: rgba(@yellow, 0.25);
    }
  }

  &.blue {
    color: @blue;
    border: 1px solid rgba(@blue, 0.5);

    &:hover {
      border-color: @blue;
    }

    &.selected {
      background-color: rgba(@blue, 0.25);
    }
  }

  &.cyan {
    color: @cyan;
    border: 1px solid rgba(@cyan, 0.5);

    &:hover {
      border-color: @cyan;
    }

    &.selected {
      background-color: rgba(@cyan, 0.25);
    }
  }
}
