@import url(../../colors/color-@.less);

.button-login {
  width: 100%;
  background: linear-gradient(@blue-27a, @blue-26);
  color: @white;
  font-size: 1.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &:hover {
    background: linear-gradient(@blue-2ac, @blue-2d);
  }
}
