<!-- <div class="card">
  <div class="top">
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
  </div>
  <div class="middle">
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
  </div>
  <div class="bottom">
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
  </div>

  <div class="content">
    <ng-content></ng-content>
  </div>
</div> -->
<div class="card">
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
