.card {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  position: relative;

  border-style: solid;

  // 必须和 slice 对应
  border-width: 48px 198px 48px 198px;

  border-image-source: url('../../../../assets/images/card/card.png');

  // 上 右 下 左
  border-image-slice: 48 198 48 198 fill;

  // 核心
  border-image-repeat: stretch;


  .content {
    margin: -48px -198px -48px -198px;
    width: calc(100% + 198px + 198px);
    height: calc(100% + 48px + 48px);
    padding: 22px;
  }

  &-title {
    color: #fff;
    font-size: 24px;
    height: 24px;
  }

  &-flex {
    display: flex;
    gap: 20px;

    &.column {
      flex-direction: column;
    }


  }

  &-head {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
  }

  &-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #ffffff 0 24px, transparent 24px 27px, rgba(255, 255, 255, 0.2) 27px calc(100% - 13px), transparent calc(100% - 13px) calc(100% - 10px), #17f1c6 calc(100% - 10px) 100%);
    margin: 10px 0;
  }

  &-body {
    height: calc(100% - 24px - 20px - 36px);
    flex-grow: 1;
    overflow: hidden;
  }

  &-foot {
    height: 36px;
  }
}
