@import url(../../../../assets/styles/colors/color-@.less);

.card {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  position: relative;

  border-style: solid;

  // 必须和 slice 对应
  border-width: 48px 198px 48px 198px;

  border-image-source: var(--img-card);

  // 上 右 下 左
  border-image-slice: 48 198 48 198 fill;

  // 核心
  border-image-repeat: stretch;


  .content {
    margin: -48px -198px -48px -198px;
    width: calc(100% + 198px + 198px);
    height: calc(100% + 48px + 48px);
    padding: 22px 12px 22px 22px;

  }

  &-title {
    color: @white;
    font-size: 24px;
    height: 24px;
  }

  &-flex {
    display: flex;

    &.column {
      flex-direction: column;
    }


  }

  &-head {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    &-title {
      color: @white;
      font-size: 18px;
    }
  }

  &-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, @white 0 24px, transparent 24px 27px, rgba(@white, 0.2) 27px calc(100% - 13px), transparent calc(100% - 13px) calc(100% - 10px), var(--primary) calc(100% - 10px) 100%);
    margin: 10px 0;

    &-column {
      height: 100%;
      width: 1px;
      background: linear-gradient(to bottom, @white 0 24px, transparent 24px 27px, rgba(@white, 0.2) 27px calc(100% - 13px), transparent calc(100% - 13px) calc(100% - 10px), var(--primary) calc(100% - 10px) 100%);
      margin: 0 10px;
    }
  }

  &-body {
    height: calc(100% - 24px - 21px - 36px);
    flex-grow: 1;
    overflow: hidden;

    &.no-foot {
      height: calc(100% - 24px - 21px);
    }
  }

  &-foot {
    height: 36px;
  }
}
