.setting-map {
  @gap: 20px;

  &-manager {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    position: relative;
  }

  &-container {
    width: 100%;
    height: 100%;
    display: flex;


    gap: @gap;
  }

  &-list {
    height: 100%;
    width: calc((100% - @gap) * (1 - 0.618));

    &-container {
      width: 100%;
      height: 100%;
    }
  }

  &-three {
    width: calc((100% - @gap) * 0.618);
  }

}
