<div class="setting-device-list-manager">
  <div class="setting-device-list-head">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">设备类型</div>
        <div class="form-item-value"><select></select></div>
      </div>
      <div class="form-item">
        <div class="form-item-text">设备状态</div>
        <div class="form-item-value"><select></select></div>
      </div>
      <div class="form-item">
        <div class="form-item-text">自动校时</div>
        <div class="form-item-value"><select></select></div>
      </div>
      <div class="form-item">
        <div class="form-item-text">事件接收</div>
        <div class="form-item-value"><select></select></div>
      </div>
      <div class="form-item">
        <div class="form-item-text">事件接收</div>
        <div class="form-item-value"><select></select></div>
      </div>
      <div class="form-item">
        <input type="text" />
      </div>
      <div class="form-item submit">
        <button class="button-border green"><i class="howell-icon-search2"></i>查询</button>
      </div>
    </div>
  </div>
  <div class="setting-device-list-body">
    <hw-setting-device-list-table></hw-setting-device-list-table>
  </div>
</div>
