.search-container {
  position: relative;
  width: 100%;
  overflow: visible;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #080e2b;
  border: 1px solid #2d76ce;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  min-width: max-content;
}

.search-result-item {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #2F61D2;
    color: #fff;
  }
}
