@import url(../../../../assets/styles/colors/color-@.less);

.video-player-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  &-screen {
    border: 2px solid var(--teal-dark);
    width: calc(100% - 2px * 1);
    height: calc(100% - 2px * 1);
    cursor: pointer;
    background-color: @black;

    &.four {
      width: calc(100% / 2);
      height: calc(100% / 2);
    }

    &.nine {
      width: calc(100% / 3);
      height: calc(100% / 3);
    }

    &.sixteen {
      width: calc(100% / 4);
      height: calc(100% / 4);
    }

    &.selected {
      border-color: rgba(@alarm, 0.7);
    }
  }
}
