.system-main-three-config-map-model {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .form {
    &s {
      width: 100%;
      flex-direction: column;
    }

    &-item {
      width: 100%;
    }
  }
}
