<div class="system-main-record-table">
  @for (item of datas; track $index) {
    <div class="system-main-record-table-tr" [class]="item.color" [title]="item.description ?? ''">
      <div class="system-main-record-table-td" [style.width]="width[0]">
        <i [class]="item.icon"></i>
      </div>
      <div class="system-main-record-table-td" [style.width]="width[1]">
        {{ item.name }}
      </div>
      <div class="system-main-record-table-td" [style.width]="width[2]">
        {{ item.type }}
      </div>
      <div class="system-main-record-table-td time" [style.width]="width[3]">
        {{ item.time | date: Language.yyyyMMddHHmmss }}
      </div>
      <div class="system-main-record-table-td" [style.width]="width[4]">
        <div class="button-group">
          <button (click)="on.playback($event, item)" title="视频回放">
            <i class="howell-icon-video-play"></i>
          </button>
          <button (click)="on.details($event, item)" title="详细信息">
            <i class="howell-icon-details"></i>
          </button>
        </div>
      </div>
    </div>
  }
</div>
