@import url(../colors/color-@.less);

.input-button {
  display: flex;
  align-items: center;

  input+button {
    background-color: var(--secondary);
    height: 36px;
    width: auto;
    white-space: nowrap;
    padding: 0 10px;
  }
}
