<hw-card-statistic-1>
  <div class="system-video-device-manager">
    <div class="card-head system-video-device-head">
      <div class="card-head-title">摄像机</div>
      <div class="button-group">
        @if (device.show) {
          <button (click)="manager.on.mode()" title="多层">
            <i class="mdi mdi-file-tree"></i>
          </button>
        }
        @if (region.show) {
          <button (click)="manager.on.mode()" title="列表">
            <i class="mdi mdi-format-list-bulleted"></i>
          </button>
        }
      </div>
    </div>
    <div class="card-line"></div>
    <div class="card-body no-foot system-video-device-body">
      <div class="system-video-device-filter">
        <!-- <input type="text" [(ngModel)]="list.args.name" /> -->
        <input-icon [(value)]="manager.args.name" (clear)="manager.on.search()">
          <button (click)="manager.on.search()"><i class="howell-icon-search"></i></button>
        </input-icon>
      </div>
      <div class="system-video-device-list">
        @if (device.show) {
          <hw-system-video-device-list
            [args]="manager.args"
            [load]="device.load"
            [pagesize]="pagesize"
            [selected]="device.selected"
            (selectedChange)="device.on.select($event)"
            (itemdblclick)="device.on.preview($event)"
          ></hw-system-video-device-list>
        }
        @if (region.show) {
          <hw-system-video-device-region
            [load]="region.load"
            [reload]="reload"
            [selected]="region.selected"
            (selectedChange)="region.on.select($event)"
            (config)="region.on.config()"
            (nodedblclick)="region.on.preview($event)"
            [configable]="regionconfigable"
          ></hw-system-video-device-region>
        }
      </div>
    </div>
    <div>
      <ng-content></ng-content>
    </div>
  </div>
</hw-card-statistic-1>
