@import url(../../../../assets/styles/colors/color-@.less);

.confirm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-head {
    height: 25px;
    font-weight: bold;
    font-size: 18px;
    color: @white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mdi-alert {
      color: @amber;
    }
  }

  &-body {
    width: 100%;
    height: calc(100% - 25px - 15px - 50px - 15px);
    text-indent: 30px;
    font-size: 18px;


    .hw-simple-title {
      color: @blue-cf;

      span {
        color: @white;
      }
    }
  }

  &-foot {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
