.table-split {
  &-body {
    table {
      tbody {
        tr {
          td {
            &.center {
              text-align: center;

              &>div {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
