.table-split {
  &-body {
    height: calc(100% - 75px);
    box-sizing: border-box;


    overflow-y: scroll;

    table {
      height: auto;

      tbody {
        tr {



          td {
            .operation {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }
    }
  }

}
