.table-page {
  table {
    tbody {
      tr {
        td {
          .operation {
            display: flex;
            align-items: center;
            gap: 10px;

            .button,
            button {
              color: #17f1c6b3;

              &:hover {
                color: #ffa899;
              }
            }
          }
        }
      }

    }
  }

}
