@import url(../../colors/color-@.less);

.table-page {
  table {
    tbody {
      tr {
        td {
          .operation {
            display: flex;
            align-items: center;
            gap: 10px;

            .button,
            button {
              color: rgba(var(--green-r), var(--green-g), var(--green-b), 0.7);

              &:hover {
                color: @salmon;
              }
            }
          }
        }
      }

    }
  }

}
