@import url(../../colors/color-@.less);


.table-page {
  table {
    tbody {
      tr {
        td {
          .operation {
            display: flex;
            align-items: center;
            gap: 10px;

            .button,
            button {
              color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1);

              &:hover {
                color: var(--button-hover-border);
              }
            }
          }
        }
      }

    }
  }

}
