.system-download-table {
  height: 100%;
  width: 100%;

  table {
    tbody {
      tr {
        height: 60px;

        td {
          vertical-align: middle;
        }
      }
    }
  }
}




.status {
  font-size: 13px;

  &.downloading {
    color: #2f9bff;
  }

  &.paused {
    color: #f0c674;
  }

  &.saving {
    color: #17f1c6;
  }

  &.completed {
    color: #7cd992;
  }

  &.failed {
    color: #ef6f59;
  }
}

.operation {


  .button {
    color: #17f1c6b3
  }
}
