@import url(../../../../assets/styles/colors/color-@.less);

.system-download-table {
  height: 100%;
  width: 100%;

  table {
    tbody {
      tr {
        height: 60px;

        td {
          vertical-align: middle;
        }
      }
    }
  }
}




.status {
  font-size: 13px;

  &.downloading {
    color: @blue-2f;
  }

  &.paused {
    color: @yellow-soft;
  }

  &.saving {
    color: var(--green);
  }

  &.completed {
    color: @green-7c;
  }

  &.failed {
    color: @alarm;
  }
}

.operation {


  .button {
    color: rgba(var(--green-r), var(--green-g), var(--green-b), 0.7)
  }
}
