<div class="system-main">
  <div class="system-main-container">
    <div class="system-main-left">
      <div class="system-main-state">
        <hw-system-main-state-device [datas]="data.device.datas"></hw-system-main-state-device>
      </div>
      <div class="system-main-record">
        <hw-system-main-record-manager
          (playback)="record.on.playback($event)"
          (all)="window.table.record.show = true"
        ></hw-system-main-record-manager>
      </div>
    </div>
    <div class="system-main-three">
      <howell-card>
        <hw-system-main-three-manager
          [load]="map.load"
          [alarm]="map.alarm"
          (preview)="map.on.preview($event)"
          (video)="map.on.video($event)"
        ></hw-system-main-three-manager>
      </howell-card>
    </div>
  </div>

  <div class="system-main-test">
    <button (click)="on.test()">text</button>
  </div>

  @if (window.table.element.show) {
    <app-window
      [model]="window.table.element"
      [style]="window.table.element.style"
      [title]="window.table.element.title"
    >
      <hw-system-main-element-manager></hw-system-main-element-manager>
    </app-window>
  }
  @if (window.table.record.show) {
    <app-window
      [model]="window.table.record"
      [style]="window.table.record.style"
      [headable]="false"
    >
      <hw-system-record-manager
        (playback)="video.single.playback($event)"
        (close)="window.table.record.show = false"
      ></hw-system-record-manager>
    </app-window>
  }

  @if (window.config.three.show) {
    <app-window
      [model]="window.config.three"
      [style]="window.config.three.style"
      [title]="window.config.three.title"
    >
      <hw-system-main-three-config-manager></hw-system-main-three-config-manager>
    </app-window>
  }
  @if (window.video.single.show) {
    <app-window
      [model]="window.video.single"
      [style]="window.video.single.style"
      [title]="window.video.single.title"
    >
      <howell-video-player-container
        [title]="window.video.single.title"
        [autoplay]="window.video.single.autoplay"
        [cameraId]="window.video.single.cameraId"
        [mode]="window.video.single.mode"
        [begin]="window.video.single.begin"
        [end]="window.video.single.end"
        [subtitle]="window.video.single.subtitle"
      ></howell-video-player-container>
    </app-window>
  }
  @if (window.video.multiple.show) {
    <app-window
      [model]="window.video.multiple"
      [style]="window.video.multiple.style"
      [title]="window.video.multiple.title"
    >
      <howell-video-player-list
        [mode]="window.video.multiple.screen.mode"
        [play]="window.video.multiple.play"
        [(index)]="window.video.multiple.screen.index"
      ></howell-video-player-list>
    </app-window>
  }
  @if (window.alarm.show) {
    <app-alarm [model]="window.alarm" [style]="window.alarm.style" [title]="window.alarm.title">
      <howell-video-player-list
        [mode]="window.alarm.screen.mode"
        [play]="window.alarm.play"
        [(index)]="window.alarm.screen.index"
      ></howell-video-player-list>
    </app-alarm>
  }
</div>
