<div class="system-video-view-group-list">
  <div class="system-video-view-group-list-table">
    @for (item of datas(); track $index) {
      <div
        class="system-video-view-group-list-table-tr"
        [class.selected]="item.Id == selected?.Id"
        (click)="on.select($event, item)"
      >
        @if (update.ing && item.Id == selected?.Id) {
          <input-icon class="update-input" [(value)]="update.value" [canclear]="false">
            <div class="button-group">
              <button class="update-input-btn ok" title="保存" (click)="update.on.save()">
                <i class="mdi mdi-check"></i>
              </button>
              <button class="update-input-btn cancel" title="取消" (click)="update.on.cancel()">
                <i class="mdi mdi-close"></i>
              </button>
            </div>
          </input-icon>
        } @else {
          <ng-container>
            <div class="system-video-view-group-list-table-td" [style.width]="'80%'">
              {{ item.Name }}
            </div>

            <div class="system-video-view-group-list-table-td" [style.width]="'20%'">
              <div class="button-group">
                <button (click)="on.play($event, item)" title="播放视频组">
                  <i class="howell-icon-video-play"></i>
                </button>
                <button (click)="on.update($event, item)" title="修改视频组名称">
                  <i class="howell-icon-edit"></i>
                </button>
                <button (click)="on.delete($event, item)" title="删除视频组">
                  <i class="howell-icon-delete2"></i>
                </button>
              </div>
            </div>
          </ng-container>
        }
      </div>
    }
  </div>
</div>
