<!-- <div class="system-video-device-list">
  <div class="system-video-device-list-table">
    @for (item of datas(); track $index) {
      <div
        class="system-video-device-list-table-tr"
        [class.selected]="selected == item"
        [style.height]="`calc((100% - 5px * ${page().PageSize - 1}) / ${page().PageSize})`"
        (click)="on.select($event, item)"
        (dblclick)="on.dblclick($event, item)"
      >
        

        <div class="system-video-device-list-table-td" [style.width]="'100%'">
          {{ item.Name }}
        </div>

        <div class="system-video-device-list-table-td">
          <div class="button-group"></div>
        </div>
      </div>
    }
  </div>
</div> -->
