@import "./table-page/table.less";
@import "./table-sticky/table.less";
@import "./table-split/table.less";
@import "./table-sticky-list/table.less";
@import "./table-page-list/table.less";



table {
  border: none;
  margin: 0;
  padding: 0;
  outline: 0;

  width: 100%;
  height: 100%;
  table-layout: fixed;


}
