<div class="hw-tree" (click)="onTreeClick($event)">
  @for (node of visibleNodes; track node.id) {
    <div
      class="hw-tree-node"
      [class.selected]="node.id === selectedId"
      [style.padding-left.px]="node.level * 20 + 8"
    >
      <i
        class="hw-tree-toggle mdi"
        [class.mdi-menu-down]="node.expandable && node.expanded"
        [class.mdi-menu-right]="node.expandable && !node.expanded"
        (click)="onToggle(node)"
      ></i>
      <span
        class="hw-tree-content"
        [attr.data-node-id]="node.id"
        [innerHTML]="node.html || node.label"
      ></span>
      @if (node.actionsHtml) {
        <span
          class="hw-tree-actions"
          [attr.data-node-id]="node.id"
          [innerHTML]="node.actionsHtml"
        ></span>
      }
    </div>
  }
</div>
