<div class="system-video-device-list-multiple">
  <div class="system-video-device-list-multiple-table">
    @for (item of datas(); track item.Id) {
      <div
        class="system-video-device-list-multiple-table-tr"
        [class.selected]="isSelected(item)"
        (click)="on.select(item)"
      >
        <div class="system-video-device-list-multiple-table-td checkbox">
          <input
            type="checkbox"
            [checked]="isSelected(item)"
            (click)="$event.stopPropagation()"
            (change)="on.select(item)"
          />
        </div>

        <div class="system-video-device-list-multiple-table-td" [style.width]="'100%'">
          {{ item.Name }}
        </div>

        <div class="system-video-device-list-multiple-table-td">
          <div class="button-group"></div>
        </div>
      </div>
    }
  </div>
  <div class="system-video-device-list-multiple-page">
    <div class="system-video-device-list-multiple-page-actions">
      <button class="button green" title="全选" (click)="on.selectAll()">全选</button>
      <button class="button" title="反选" (click)="on.invert()">反选</button>
      <button class="button" title="取消" (click)="on.clear()">取消</button>
    </div>
    <paginator
      [page]="page()"
      [jump]="false"
      [total]="false"
      [gapable]="false"
      [first]="false"
      [last]="false"
      (change)="on.page($event)"
    >
    </paginator>
  </div>
</div>
