<div class="system-video-device-region-config">
  <hw-card-statistic-1>
    <div class="system-video-device-region-config-card">
      <div class="card-head">
        <div class="card-head-title">区域资源</div>
      </div>
      <div class="card-line"></div>
      <div class="card-body system-video-device-region-config-body">
        <div class="system-video-device-region-config-body-filter">
          <input-icon [(value)]="region.args.name" (clear)="region.on.search()">
            <button (click)="region.on.search()"><i class="howell-icon-search"></i></button>
          </input-icon>
        </div>
        <div class="system-video-device-region-config-body-content">
          <hw-system-video-device-region-edit
            [load]="region.load"
            [reload]="region.reload"
            [(selected)]="region.selected"
            (selectedChange)="region.on.select($event)"
            (loaded)="region.on.loaded($event)"
            (create)="region.on.create($event)"
            (update)="region.on.update($event)"
            (delete)="region.on.delete($event)"
          ></hw-system-video-device-region-edit>
        </div>
      </div>
    </div>
  </hw-card-statistic-1>
  <div class="system-video-device-region-config-operation">
    <button
      class="button-border primary"
      title="导入"
      [disabled]="disabled.input()"
      (click)="region.on.input()"
    >
      <i class="mdi mdi-arrow-left-bold"></i>
    </button>
    <button
      class="button-border primary"
      title="导出"
      [disabled]="disabled.output()"
      (click)="region.on.output()"
    >
      <i class="mdi mdi-arrow-right-bold"></i>
    </button>
  </div>
  <hw-card-statistic-1>
    <div class="system-video-device-region-config-card">
      <div class="card-head">
        <div class="card-head-title">摄像机</div>
      </div>
      <div class="card-line"></div>
      <div class="card-body system-video-device-region-config-body">
        <div class="system-video-device-region-config-body-filter">
          <input-icon [(value)]="device.args.name" (clear)="device.on.search()">
            <button (click)="device.on.search()"><i class="howell-icon-search"></i></button>
          </input-icon>
        </div>
        <div class="system-video-device-region-config-body-content">
          <hw-system-video-device-list-multiple
            [args]="device.args"
            [load]="device.load"
            [inverse]="device.inverse"
            [(selected)]="device.selected"
            (selectedChange)="device.on.select($event)"
          ></hw-system-video-device-list-multiple>
        </div>
      </div>
    </div>
  </hw-card-statistic-1>
</div>
