@import "./table-thead.less";
@import "./table-tbody.less";

.table-sticky-list {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  table {
    box-sizing: border-box;
    border-collapse: collapse;
    table-layout: fixed;
    height: auto;
  }
}
