@import "./table-tbody-tr-td.less";
@import "../../colors/color-table.less";

.table-sticky-list {
  table {
    tbody {

      tr {
        height: 42px;
        background-color: @list-tr;
        border-top: 6px solid transparent;

        &:hover {
          background-color: @tr-hover;
          color: @tr-hover-text;
        }

        &.selected {
          background-color: @tr-selected;

          &:hover {
            color: @tr-selected-text;
          }
        }

        &.nohover {
          background-color: initial;
        }

        &.nodata {
          display: inline-block;
        }

        cursor: default;

        td {
          padding: 0 10px;
          white-space: nowrap;
          /* 文本不换行 */
          overflow: hidden;
          /* 隐藏溢出的内容 */
          text-overflow: ellipsis;
          /* 使用省略号表示溢出的文本 */

          &>div {
            width: 100%;
            height: 100%;

            white-space: nowrap;
            /* 文本不换行 */
            overflow: hidden;
            /* 隐藏溢出的内容 */
            text-overflow: ellipsis;
            /* 使用省略号表示溢出的文本 */
            display: flex;
            align-items: center;
          }

          &.center {
            text-align: center;


          }

          .operation {
            display: flex;
            align-items: center;
            gap: 10px;
          }



        }
      }
    }
  }

}
