<div class="window-mask" *ngIf="model.show">
  <div class="window-background" [ngStyle]="style">
    <div class="window-content">
      <div class="window-content-head">
        <div class="title window-content-head-title">
          {{ title }}
        </div>
        <div class="operation">
          <a class="close-winow" (click)="closeButtonClick()" *ngIf="closeButton"
            ><i class="howell-icon-Close alert-window-close-btn"></i
          ></a>
        </div>
      </div>
      <div class="window-content-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
