.window-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
}

@window-content-head-height: 30px;
@window-content-head-margin-bottom: 10px;

// 图片 388×186，四边各留 10px 给 edge stretch
@slice-top: 88;
@slice-right: 189;
@slice-bottom: 88;
@slice-left: 189;


.window-background {

  --line-height: 21px;

  position: relative;
  box-sizing: border-box;

  border-style: solid;

  border-width:~"@{slice-top}px @{slice-right}px @{slice-bottom}px @{slice-left}px";

  border-image-source: url('../../../../assets/images/window/window-border.png');

  border-image-slice: @slice-top @slice-right @slice-bottom @slice-left fill;
  border-image-repeat: stretch;
  box-sizing: border-box;

  .window-content {
    margin:~"-@{slice-top}px -@{slice-right}px -@{slice-bottom}px -@{slice-left}px";

    width:~"calc(100% + @{slice-left}px + @{slice-right}px)";
    height:~"calc(100% + @{slice-top}px + @{slice-bottom}px)";
    padding: 50px 46px 55px 55px;

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: @window-content-head-margin-bottom;
      height: @window-content-head-height;

      &-title {
        margin-bottom: 0;
        color: #fff;
        font-size: 24px;
        height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
      }

      .close-winow {
        cursor: pointer;
        z-index: 9;
        display: flex;
        align-items: center;
        color: white;

        &:hover {
          color: red;
        }
      }
    }


    &-line {
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, #ffffff 0 24px, transparent 24px 27px, rgba(255, 255, 255, 0.2) 27px calc(100% - 13px), transparent calc(100% - 13px) calc(100% - 10px), #17f1c6 calc(100% - 10px) 100%);
      margin: 10px 0;
    }


    &-body {
      height: calc(100% - @window-content-head-height - @window-content-head-margin-bottom - var(--line-height));

      &.noline {
        --line-height: 0px;
      }
    }
  }
}
