.system-video-player {
  @head-width: 34px;


  width: 100%;
  height: 100%;
  display: flex;




  &-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: @head-width;
    height: 100%;

    .button-group {
      flex-direction: column;

      button {
        height: @head-width;
        aspect-ratio: 1;
        padding: 0;

        i {

          &.mdi {
            &-stop {
              font-size: 28px;
              margin-top: -3px;
            }

            &-view-grid {
              margin-top: -2px;
            }

            &-apps {
              font-size: 20px;
              margin-top: -2px;
            }
          }

          &.howell-icon-screen-16 {
            font-size: 20px;
            margin-top: 2px;
          }

        }

      }
    }


  }

  &-body {
    width: calc(100% - 21px - @head-width);
    height: 100%;
  }
}
