<hw-card-statistic [type]="2">
  <div class="system-video-player">
    <div class="system-video-player-body">
      <howell-video-player-list
        [mode]="screen"
        [play]="player.play"
        [stop]="player.stop"
        [getviewgroup]="viewgroup.get"
        [(index)]="player.index"
        (playing)="player.on.playing($event)"
        (stoping)="player.on.stoping($event)"
      ></howell-video-player-list>
    </div>

    <div class="card-line-column"></div>
    <div class="card-head system-video-player-head">
      <div class="button-group">
        <button
          class="button-border primary"
          [class.selected]="screen == 1"
          title="单画面"
          (click)="on.mode(1)"
        >
          <i class="mdi mdi-stop"></i>
        </button>
        <button
          class="button-border primary"
          [class.selected]="screen == 4"
          title="四画面"
          (click)="on.mode(4)"
        >
          <i class="mdi mdi-view-grid"></i>
        </button>
        <button
          class="button-border primary"
          [class.selected]="screen == 9"
          title="九画面"
          (click)="on.mode(9)"
        >
          <i class="mdi mdi-apps"></i>
        </button>
        <button
          class="button-border primary"
          [class.selected]="screen == 16"
          title="十六画面"
          (click)="on.mode(16)"
        >
          <i class="howell-icon-screen-16"></i>
        </button>
        @if (viewgroupable) {
          <button
            class="button-border primary"
            title="保存到视频组"
            [disabled]="viewgroup.disabled()"
            (click)="viewgroup.on()"
          >
            <i class="mdi mdi-content-save"></i>
          </button>
        }
      </div>
      <div class="button-group">
        <button
          class="button-border primary"
          [title]="expand ? '还原' : '展开'"
          (click)="on.expand()"
        >
          @if (expand) {
            <i class="mdi mdi-unfold-less-vertical"></i>
          } @else {
            <i class="mdi mdi-unfold-more-vertical"></i>
          }
        </button>
        <button
          class="button-border primary"
          [title]="fullscreen ? '还原' : '全屏'"
          (click)="on.fullscreen()"
        >
          @if (fullscreen) {
            <i class="mdi mdi-fullscreen-exit"></i>
          } @else {
            <i class="mdi mdi-fullscreen"></i>
          }
        </button>
      </div>
    </div>
  </div>
</hw-card-statistic>
