@import url(../../../../assets/styles/colors/color-@.less);

.system-main-record {
  &-manager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .count {
      color: @green;
    }
  }


  &-container {
    height: calc(100% - (24px - 1px - 10px * 2));
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px
  }

  &-head {
    &-action {
      position: relative;
      display: flex;
      align-items: center;

      &:hover {
        .system-main-record-head-action {

          &-content,
          &-_ {
            opacity: 0;
          }

          &-button {
            opacity: 1;
          }
        }
      }

      &-content,
      &-_ {
        transition: all 0.5s;
        opacity: 1;
      }

      &-_ {
        padding-top: 1px;
      }

      &-button {
        transition: all 0.5s;
        opacity: 0;
        position: absolute;

        top: 50%;
        transform: translateY(-50%);
        white-space: nowrap;

        &.left {
          left: 0;
        }

        &.right {
          right: 0;
        }
      }
    }


  }

  &-filter {
    height: 34px;
  }

  &-table {
    height: calc(100% - 34px - 10px);
  }
}
