@import url(../../../../assets/styles/colors/color-@.less);

.system-main-record {
  &-manager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .count {
      color: @green;
    }
  }

  &-container {
    height: calc(100% - (24px - 1px - 10px * 2));
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px
  }

  &-filter {
    height: 34px;
  }

  &-table {
    height: calc(100% - 34px - 10px);
  }
}
