<howell-card>
  <div class="system-main-record-manager">
    <div class="card-head">
      <div class="card-head-title system-main-record-head-title">报警列表</div>
      <div class="system-main-record-head-action">
        <div class="system-main-record-head-action-content">
          共 <span class="count">{{ table.datas.length }}</span> 条
        </div>
        <div class="system-main-record-head-action-_">
          <i class="mdi mdi-dots-vertical"></i>
        </div>
        <div class="system-main-record-head-action-button right button" (click)="on.all()">
          查看全部报警
        </div>
      </div>
    </div>
    <div class="card-line"></div>
    <div class="system-main-record-container card-body">
      <div class="system-main-record-filter">
        <div class="button-group">
          <button
            class="button-border green"
            [class.selected]="!table.args.type"
            (click)="table.on.filter()"
          >
            全部报警
          </button>
          <button
            class="button-border green"
            [class.selected]="table.args.type == Type.device"
            (click)="table.on.filter(Type.device)"
          >
            设备故障
          </button>
          <button
            class="button-border green"
            [class.selected]="table.args.type == Type.other"
            (click)="table.on.filter(Type.other)"
          >
            报警器报警
          </button>
        </div>
      </div>
      <div class="system-main-record-table">
        <hw-system-main-record-table
          [args]="table.args"
          [load]="table.load"
          (loaded)="table.on.loaded($event)"
          (playback)="table.on.playback($event)"
        >
        </hw-system-main-record-table>
      </div>
    </div>
  </div>
</howell-card>
