<div class="system-record-manager">
  <div class="system-record-head">
    <div class="system-record-head-selection button-group">
      <div class="button" [class.selected]="!entrance" (click)="on.index(false)">报警记录</div>
      <div class="button" [class.selected]="entrance" (click)="on.index(true)">出入口记录</div>
    </div>
    <div class="button" (click)="on.close()">
      <i class="howell-icon-Close"></i>
    </div>
  </div>
  <div class="system-record-line"></div>

  <div class="system-record-body">
    @if (entrance) {
      <hw-system-record-entrance></hw-system-record-entrance>
    } @else {
      <hw-system-record-container></hw-system-record-container>
    }
  </div>
</div>
