<div
  class="header"
  [ngStyle]="{
    height: visibility ? '100%' : '0',
  }"
  [ngClass]="{
    hidden: !visibility,
  }"
>
  <div class="header-content">
    <div class="header-content-info navigation">
      <div class="button-group">
        <button
          class="button-clip-green"
          [routerLink]="Navigation.map"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          地图
        </button>
        <button
          class="button-clip-green"
          [routerLink]="Navigation.download"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          下载
        </button>
      </div>
    </div>
    <div class="header-content-title">{{ title }}</div>
    <div class="header-content-info">
      <howell-header-information [date]="date"></howell-header-information>
      <app-account-operation></app-account-operation>
    </div>
  </div>
</div>
