<div class="header" [ngClass]="{ collapsed: !visibility }">
  <div class="header-content">
    <div class="header-content-info navigation">
      <div class="button-group">
        <!-- <button
          class="button-clip-primary"
          [routerLink]="Navigation.map"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          地图
        </button> -->
        <!-- <button class="button-clip-primary" (click)="on.download()">下载</button> -->
        <!-- <button class="button-clip-primary" (click)="on.download()">视频</button> -->
      </div>
      <howell-header-information [date]="date"></howell-header-information>
    </div>
    <div class="header-content-title">{{ title }}</div>
    <div class="header-content-info">
      <app-account-operation></app-account-operation>
    </div>
  </div>
  @if (collapsible) {
    <div class="header-operation" (click)="on.visibility()">
      <i class="mdi" [ngClass]="visibility ? 'mdi-chevron-up' : 'mdi-chevron-down'"></i>
    </div>
  }
</div>
