@import url(../../../../assets/styles/colors/color-@.less);
@import url(../../../../assets/styles/colors/color-input.less);

.time-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  border: 1px solid @border-color;
  font-size: 18px;
  border-radius: unset;
  background-color: @background-color;
  box-sizing: border-box;

  &.disabled {
    color: @gray-9;
    cursor: not-allowed;
    border-color: @disabled-border-color;
  }

  input {
    width: 32%;
    border: none;
    background-color: transparent;
    font-size: 15px;
    min-height: 34px;
  }
}
