<div class="app-account-operation">
  @if (display.setting) {
    <div class="operation-item" title="设置" (click)="on.setting()">
      <i class="mdi mdi-settings"></i>
    </div>
  } @else {
    <div class="operation-item" title="主页" (click)="on.main()">
      <i class="howell-icon-map4"></i>
    </div>
  }
  <div class="operation-item" title="账号" (click)="menu.target($event)">
    <div class="log-out">
      <i class="howell-icon-account"></i>
    </div>
    <div>
      @if (menu.show) {
        <div class="menu">
          @if (display.username) {
            <div class="menu-item">
              <i class="howell-icon-account"></i>
              {{ username }}
            </div>
          }
          @if (display.logout) {
            <div class="menu-item" (click)="on.logout()">
              <i class="howell-icon-logout"> </i>
              退出登录
            </div>
          }
        </div>
      }
    </div>
  </div>
  <div class="operation-item" *ngIf="false" (click)="on.help()">
    <i class="mdi mdi-help-circle"></i>
  </div>
</div>
