.system-download-header {

  width: 100%;
  height: 91px;
  background-image: url(/assets/images/bg-header-1.png);
  margin-top: -1px;
  padding-top: 1px;
  padding-bottom: 15px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  box-sizing: border-box;
  transition: 0.4s;
  position: relative;

  &-content {

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;



    @info-width: 30%;

    &-title {
      height: 100%;
      padding: 0 20px;
      font-size: 48px;
      color: white;
      display: flex;
      justify-content: start;
      align-items: center;

    }



  }

}
