<div class="system-main-element-manager">
  <div class="system-main-element-head">
    <div class="forms">
      <div class="form-item">
        <div class="form-item-text">元素类型</div>
        <div class="form-item-value">
          <hw-select [nullable]="true" [(selected)]="table.args.type">
            <select [(ngModel)]="table.args.type">
              @for (item of source.types; track $index) {
                <option [ngValue]="item.Value">{{ item.Name }}</option>
              }
            </select>
          </hw-select>
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-text">名称</div>
        <div class="form-item-value">
          <input type="text" [(ngModel)]="table.args.name" placeholder="搜索名称" />
        </div>
      </div>
      <div class="form-item submit">
        <button class="button-border full" (click)="manager.on.search()">
          <i class="howell-icon-search2"></i>查询
        </button>
      </div>
    </div>
  </div>

  <div class="system-main-element-body">
    <hw-system-main-element-table
      [args]="table.args"
      [load]="table.load"
    ></hw-system-main-element-table>
  </div>
</div>
