.system-video-view-group {
  @filter-height: 34px;
  @gap: 10px;

  &-manager {
    width: 100%;
    height: 100%;
  }

  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: @gap;
  }

  &-filter {
    width: 100%;
    height: @filter-height;
  }

  &-list {
    height: calc(100% - @gap - @filter-height);
    width: 100%;
  }
}
