@tr-odd: transparent;
@tr-even: transparent;
@tr-hover: rgba(239, 111, 89, 0.4);
@tr-hover-text: #ffd0c8;
@tr-selected: rgba(239, 111, 89, 0.6);
@tr-selected-text: white;

@table-button-color: #17f1c6b3;
@table-button-color-hover: #ffa899;


@thead-background: rgba(23, 241, 198, 0.3);
@thead-text: #fff;
@border: #07a990;

@list-tr: #0e3d34;
@list-thead-text: #17f1c6;
@list-tbody-text: white;
@list-operation-text: #17f1c6;
@list-operation-text-hover: #ffa899;
