@import "./color-@.less";

@border-color: var(--secondary);
@background-color: var(--surface);
@disabled-border-color: var(--muted);
@disabled-background-color: var(--surface-deep);
@disabled-color: @gray-9;
@placeholder: var(--normal);
