@import "./color-@.less";

@tr-odd: transparent;
@tr-even: transparent;
@tr-hover: var(--button-selected-bg);
@tr-hover-text: var(--button-hover-border);
@tr-selected: var(--button-hover-bg);
@tr-selected-text: @white;

@table-button-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.7);
@table-button-color-hover: @salmon;


@thead-background: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.3);
@thead-text: @white;
@border: var(--secondary);

@list-tr: var(--surface-row);
@list-thead-text: var(--primary);
@list-tbody-text: @white;
@list-operation-text: var(--primary);
@list-operation-text-hover: @salmon;
