@import "./color-@.less";

@tr-odd: transparent;
@tr-even: transparent;
@tr-hover: rgba(@alarm, 0.4);
@tr-hover-text: @alarm-light;
@tr-selected: rgba(@alarm, 0.6);
@tr-selected-text: @white;

@table-button-color: rgba(var(--green-r), var(--green-g), var(--green-b), 0.7);
@table-button-color-hover: @salmon;


@thead-background: rgba(var(--green-r), var(--green-g), var(--green-b), 0.3);
@thead-text: @white;
@border: var(--teal);

@list-tr: var(--teal-row);
@list-thead-text: var(--green);
@list-tbody-text: @white;
@list-operation-text: var(--green);
@list-operation-text-hover: @salmon;
