@import "./color-@.less";

.text {
  &-green {
    color: var(--green);
  }

  &-red {
    color: @red;
  }

  &-orange {
    color: @orange;

    &-state {
      color: @amber;
    }
  }

  &-yellow {
    color: @yellow;
  }

  &-normal {
    color: var(--normal);
  }
}
