@import "./color-@.less";

@border-color: var(--teal);
@background-color: var(--teal-bg);
@disabled-border-color: var(--teal-muted);
@disabled-background-color: var(--teal-deep);
@disabled-color: @gray-9;
@placeholder: var(--normal);
