@import "../../colors/color-table.less";

.table-page-list {
  table {
    thead {
      background-color: @list-tr;
      color: @list-thead-text;

      tr {
        th {
          height: 40px;
          text-align: left;
          font-weight: normal;
          padding: 0 10px;

          &:first-child {
            padding-left: 20px;

            .center {
              padding-left: 10px;
            }
          }

          &.sort {
            cursor: pointer;
            user-select: none;
          }

          &.center {
            text-align: center !important;

            &>div {
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
