@import "../../colors/color-table.less";

.table-page-list {
  table {
    tbody {
      tr {
        td {
          .operation {
            display: flex;
            align-items: center;
            gap: 10px;


          }
        }
      }

    }
  }

}
