.system-main-panel {
  width: 100%;
  height: auto;


  // box-shadow: 0 0 10px rgba(23, 241, 198, 0.8);


  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;


  &-head {
    color: white;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &-name {
      color: #17f1c6b3;
    }

    &-value {
      color: white;
    }
  }

}
