@import url(./colors/color-@.less);

// 和 app-root是兄弟元素
&~.cdk-overlay-container {
  .cdk-overlay-pane {
    .mat-menu-panel {
      background-color: var(--teal-dark);
      border: 2px solid var(--teal);
      border-radius: 0;

      .mat-menu-content {
        padding: 0;

        .mat-menu-item {
          color: @white;
          font-size: 1.1rem;
          cursor: auto;

          [class^="howell-icon"] {
            margin-right: 5px;
          }

          .mat-menu-submenu-icon {
            color: currentColor;
          }

          & {
            cursor: pointer;

            &:hover {
              background-color: rgba(@red-hover, 0.7);
              color: @white;
            }
          }
        }
      }
    }
  }
}
