::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}

::-webkit-scrollbar-corner {
  background-color: #0000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--greenlight-r), var(--greenlight-g), var(--greenlight-b), 0.5);
  background-clip: padding-box;
  border-radius: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: #3283e500;
}
