.setting-map-three {
  @button-height: 42px;
  @padding-bottom: 10px;
  @padding-left: 20px;
  @gap: 10px;

  width: 100%;
  height: 100%;
  position: relative;

  &-container {
    width: 100%;
    height: 100%;
  }

  &-building {
    position: absolute;
    bottom: calc(@padding-bottom + @button-height + @gap);
    left: @padding-left;
    z-index: 1;
    overflow-y: auto;
    max-height: 50%;

    .button-group {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      padding-right: 10px;

      button {
        width: 100%;
        min-width: 76px;
        backdrop-filter: blur(8px);
      }
    }
  }

  &-floor {
    position: absolute;
    bottom: calc(@padding-bottom + @button-height + @gap);
    left: @padding-left;
    z-index: 1;

    .button-group {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;

      button {
        width: 76px;
        backdrop-filter: blur(8px);
      }
    }
  }

  &-button {
    &-area {
      position: absolute;
      bottom: @padding-bottom;
      left: @padding-left;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
