<div class="setting-map-three">
  <div class="setting-map-three-container">
    <hw-3d
      [models]="three.model.datas()"
      (inited)="three.on.inited()"
      (loaded)="three.on.loaded($event)"
      [standby]="element.standby()"
      (standbyClick)="three.on.standby.binding($event)"
      (standbyCancel)="three.on.standby.cancel()"
      [markers]="three.camera.datas()"
      [markerSelect]="element.select"
      [markersMovable]="false"
      (markerLoaded)="element.on.loaded()"
      [moveto]="three.moveto"
      (modelClick)="three.on.building.select($event)"
      (modelDoubleClick)="three.on.building.expand($event)"
      [fitView]="three.focus"
      [meshVisibility]="floor.target"
    ></hw-3d>
  </div>

  @if (manager.building.show) {
    <div class="setting-map-three-building">
      <div class="button-group">
        @for (item of building.datas(); track $index) {
          <button
            class="button-border green"
            (click)="manager.building.select(item)"
            (dblclick)="manager.building.expand(item)"
          >
            {{ item.Name }}
          </button>
        }
      </div>
    </div>
  }

  @if (floor.datas().length > 0) {
    <div class="setting-map-three-floor">
      <div class="button-group">
        <button class="button-border green" (click)="floor.on.back()">返回</button>
        @for (item of floor.datas(); track $index) {
          <button
            class="button-border green"
            [class.selected]="floor.selected()?.Id == item.Id"
            (click)="floor.on.select(item)"
          >
            {{ item.Name }}
          </button>
        }
      </div>
    </div>
  }

  <div class="setting-map-three-button-area">
    <div class="button-group">
      <button
        class="button-map"
        title="建筑列表"
        (click)="manager.button.building()"
        [class.selected]="manager.building.show || !!floor.model()"
      >
        <i class="howell-icon-MapVillage"></i>
      </button>
    </div>
  </div>
</div>
