<div class="setting-map-three">
  <div class="setting-map-three-container">
    <hw-3d
      [models]="three.model.datas()"
      (inited)="three.on.inited()"
      (loaded)="three.on.loaded()"
      [standby]="element.standby()"
      (standbyClick)="three.on.standby.binding($event)"
      (standbyCancel)="three.on.standby.cancel()"
      [markers]="three.camera.datas()"
      [selectedCameraId]="focusCameraId?.Id"
      [markersMovable]="false"
      (modelClick)="three.on.building.select($event)"
      (modelDoubleClick)="three.on.building.expand($event)"
      [fitView]="three.focus"
      [meshVisibility]="floor.target"
    ></hw-3d>
  </div>

  @if (floor.datas().length > 0) {
    <div class="setting-map-three-floor">
      <div class="button-group">
        <button class="button-border green" (click)="floor.on.back()">返回</button>
        @for (item of floor.datas(); track $index) {
          <button
            class="button-border green"
            [class.selected]="floor.selected()?.Id == item.Id"
            (click)="floor.on.select(item)"
          >
            {{ item.Name }}
          </button>
        }
      </div>
    </div>
  }
</div>
