.setting-map-three {
  width: 100%;
  height: 100%;
  position: relative;

  &-container {
    width: 100%;
    height: 100%;
  }

  &-floor {
    position: absolute;
    bottom: 50px;
    left: 20px;
    z-index: 1;

    .button-group {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;

      button {
        width: 76px;
        backdrop-filter: blur(8px);
      }
    }
  }
}
