@import url(../../../assets/styles/colors/color-@.less);

.setting-index {
  @head-height: 24px;
  @padding: 0 10px 10px 10px;
  @gap: 15px;

  height: 100%;
  width: 100%;
  padding: @padding;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: @gap;



  &-title {

    height: calc(@head-height + @gap);
    width: 100%;
    border-bottom: 1px solid var(--surface-dark);
    box-sizing: content-box;


    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: @gap;

    color: @white;
    font-size: 24px;

    &>* {
      cursor: pointer;
      padding-bottom: @gap;

      &.selected {
        color: var(--sub);
        border-bottom: solid 2px var(--sub);
        text-shadow: rgba(var(--sub-r), var(--sub-g), var(--sub-b), 0.87) 0px 0 10px;


        &:hover {
          text-shadow: var(--sub) 0px 0 10px;
        }
      }
    }
  }

  &-content {
    width: 100%;
    height: calc(100% - (@head-height + @gap + 1px) - @gap);
    flex-grow: 1;
  }
}
