.setting-index {
  @head-height: 24px;
  @padding: 20px;

  height: 100%;
  width: 100%;
  padding: @padding;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: @padding;



  &-title {

    height: calc(@head-height + @padding);
    width: 100%;
    border-bottom: 1px solid #006764;
    box-sizing: content-box;


    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    color: #fff;
    font-size: 24px;

    &>* {
      cursor: pointer;
      padding-bottom: @padding;

      &.selected {
        color: #ff8373;
        border-bottom: solid 2px #ff8373;
        text-shadow: #ff8373dd 0px 0 10px;


        &:hover {
          text-shadow: #ff8373 0px 0 10px;
        }
      }
    }
  }

  &-content {
    width: 100%;
    height: calc(100% - (@head-height + @padding + 1px) - @padding);
    flex-grow: 1;
  }
}
